<!DOCTYPE html>
<html>
<head>
    <title>Slippery Hands</title>
    <!-- Link to the stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
</head>
<body>
	<canvas style = 'margin: 0; padding: 0; box-sizing: border-box' id='game-screen'></canvas>

    <div class="assets">
        <!-- Image -->
		<!--<img id="player" src="{{ url_for('static', filename='assets/images/player.png') }}" alt="Player">-->
    </div>
</body>
</html>
